<%- include("partials/header") %>

<div class="container">

<h1> <%= campGround.name %></h1>

<img src="<%= campGround.image %>">

<p>
    <%= campGround.desc %>
</p>

</div>

<%- include("partials/footer") %>
